<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AR Transport</title>
    <meta property="og:title" content="AR Transport : Ajit Bhoy">
    <meta property="og:description" content="This is Ajit Bhoy. You can directly call me when you want an immediate transport service.">
    <meta property="og:image" content="https://artransport.herokuapp.com/img/logor.svg"> 
    <meta property="og:url" content="AR Transport : Ajit Bhoy">
    <%- include('includes/plug'); %>
</head>
<body>
    <%- include('includes/header'); %>
    <main>
        <!-- <%- include('pages/slider'); %>
        <hr> -->
        <section>
            <h2>Book Now</h2>
            <form class="searchp" action="/bookform" method="post">
            <label for="exampleDataList" class="form-label">Origin place</label>
            <input class="form-control" name="from" list="datalistOptions" id="exampleDataList" placeholder="Type to pickup place..." required>
                <datalist id="datalistOptions">
                <option value="Tilda">
                <option value="Raipur">
                <option value="Bhilai">
                <option value="Durg">
                <option value="Arang">
                </datalist>
                <label for="exampleDataList" class="form-label">Destiny</label>
            <input class="form-control" name="to" list="datalistOptions" id="exampleDataList" placeholder="Type to Drop place..." required>
                <datalist id="datalistOptions">
                <option value="Tilda">
                <option value="Raipur">
                <option value="Bhilai">
                <option value="Durg">
                <option value="Arang">
                </datalist>
                <div class="btn-area"><button type="submit" class="btn btn-primary">continue</button></div>
              </form>
        </section>
        <hr>
        <div class="sub-sec">
        <%- include('pages/book'); %>
        </div>
        <div class="sub-sec">
        <%- include('pages/work'); %>
        </div>
    </main>
    <%- include('includes/footer'); %>
</body>
</html>
